<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- ชื่อร้าน PROMSUK -->
      <a class="navbar-brand" href="/home">PROMSUK</a>
      
      
      <!-- ปุ่มสำหรับแสดงรายการใน nav bar เมื่ออยู่ในจอเล็ก -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <!-- รายการสินค้า -->
          <li class="nav-item">
            <a class="nav-link" href="#">Product List</a>
          </li>
          <!-- เกี่ยวกับเรา -->
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <!-- ติดต่อเรา -->
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
  
        <!-- ช่องค้นหาสินค้า -->
        <form class="d-flex me-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
  
        <!-- ไอคอนตะกร้าสินค้า -->
        <a class="nav-link" href="#">
            <div class ="cart"><i class="bi bi-cart-fill"></i></div> 
        </a>
      </div>
    </div>
  </nav>
  
  <div class="container mt-4 text-center">
    <h1>Welcome to PROMSUK</h1>
    <p>Explore our range of products and learn more about us.</p>
  </div>
  